*.pyc
.idea/
*.log
target/
.pytest_cache
__pycache__
assets/
*.html
webdrivers/
.DS_Store
login.xml
test-output/
Reports/
reports/
*.ipynb0-3
compareReports/
temp/
*.jpg
*.png
*.pdf
*.ini
*.ipynb
*.metadata/
*.setting/
